body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  color: white;
}

a:hover {
  color: gray;
}

.view-one-text {
  color: black;
}

.view-two-text {
  color: dimgray;
}

.view-three-text {
  color: lightslategray;
}

.parent {
  background-color: gainsboro;
  height: 100vh;
  width: 100vw;
  padding: 2%;
  margin: auto;
  position: relative;
  overflow-y: scroll;
}

.active {
  background-color: seashell;
  color: black;
}

nav {
  height: 5vh;
  background-color: #424242;
  width: 100vw;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 999;
}

nav a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 25%;
}
