body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  color: white;
}

a:hover {
  color: blue;
}

.view-one-text {
  color: black;
}

.view-two-text {
  color: dimgray;
}

.view-three-text {
  color: lightslategray;
}

.parent {
  background-color: gainsboro;
  height: 40vh;
  width: 80vw;
  padding: 2%;
  margin: auto;
}

.active {
  background-color: white;
  color: black;
}

pre {
  overflow: none;
  text-overflow: ellipsis;
}

nav {
  height: 5vh;
  background-color: #424242;
  width: 80vw;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

nav a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 25%;
}
