.view-one-text {
  color: red;
  background-color: blue;
}

.view-two-text {
  color: green;
  background-color: pink;
}

.view-three-text {
  color: aqua;
  background-color: sienna;
}

.parent {
  background-color: slategray;
  height: 80vh;
  width: 80vw;
}

.active {
  background-color: black;
}
